body {
}
/*BoardDetail*/
.panel-default {
    margin-top: 20px;
}

.panel-body {

}

textarea {
    max-width:none;
}

/*board content panel*/
#detail-panel-details {
    margin-top : 10px;
}

#detail-panel-contents {
    min-height: 250px;
    /*word-break: break-all;*/
    white-space: pre-wrap;
}

#comment-addForm {
    /*padding-left: 0px;
    padding-right: 0px;*/
}

#detail-title {
    margin: 0px;
}


/*Comment List*/
.comment-listRow {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}

.comment-edit-button {
    float: right;
    margin-right: 5px;
    font-size: 90%;
}

.indent-right {
    padding-left: 30px;  /*indent right on except for level 0*/
}

.comment-writer {
    font-weight: bold;
}

.comment-createdDate {
    font-size: 85%;
}

.comment-reply-button {
    font-size: 90%;
    padding-left: 10px;
}

.comment-parentCommentWriter {
    font-size: 90%;
    color: slategrey;
}

.comment-inputContent {
    margin-bottom : 10px;
}

.comment-addButton {
    /*float: left;*/
    padding-left: 0px;
  
}

#comment-add-btn{
 
  /*float: left;*/
  margin-left: 15px;
    /*width: 100%;*/
}