body {
}


/*Dropdown button*/
#pageSize-dropdown {
    float: right;
    margin-bottom : 15px;
    
}

/*BoardList Table*/
table {
    width: 100%;
}

table, th, td {
    padding: 10px;
}

th, td {
    text-align : center;
}

.list-no {
    width: 50px;
    min-width: 50px;
}

.list-title {
    width: 550px;
    min-width: 100px;
}

.list-writer{
    min-width: 80px;
}

.list-createdDate {
    width: 120px;
    min-width: 100px;
}

.list-viewCount {
    min-width: 80px;
}
/*BoardList 제목*/
.listTitle {
    text-align: left !important;
    padding-left: 15px !important;
}

/*Pagination*/
.pagination {
    display: block;
    text-align: center;
    
}

.pagination > li > a {
        float: none;
        margin-left: 0px;
    }

#first-page-button, #last-page-button {
    /*float: none;*/
    margin: 0 5px;
}

#currentPage {
    background-color: #337ab7;
    color: white;
}