body {
}

/*Detail Page - AttachmentCount*/
#attachment-count {
    margin-bottom : 5px;
}

.attachment-view {
    margin-bottom: 15px;
}

#attachment-panel {
    margin: 5px 0;
}

#attachment-panelBody {
    padding: 6px 12px;
}